h1, h2, h3, p,span, a{
    font-family: 'Press Start 2P', cursive;
}

.background-image{
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}
@media (max-width: 480px){
    .background-image{
        width: 100%;
        height: 100%;
    }
}

.data{
    margin: 0 auto;
    display: flex;
    width: 90vw;
    justify-content: space-between;
}
    .data-sub{
        color: white;
        text-align: center;
    }
@media (max-width: 480px){
    .data{
        width: 100%;
    }
        .data-sub{
            font-size: 1.2rem;
        }
}
.container{
    width: 100%;
    margin: 0;
    
}
    .container img{
        display: block;
        margin: 0 auto;
        margin-top: 30px;
        width: 90%;
        
        padding: 0;
    }
@media (max-width: 480px){
    .container{
        display: flex;
        justify-content: center;
    }
    .container  img{
        width: 600px;
        overflow-y: hidden;
    }
}
.links{
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 0;
    transform: translate(0,-200%);
    width: 100%;
    text-align: center;
    line-height: 50px;
}   
    .link{
        margin: 0 auto;
    }
        .link img{
            width: 30px;
        }
        .link a{
            text-align: left;
            color: white;
            text-decoration: none;
        }
@media (max-width: 480px){
    .links{
        position: relative;
        
        z-index: none;
        transform: none;
        left: none;
        top: none;


    }
}
