:root{
    --background: "linear-gradient(to left top, #2a4978, #344179, #423676, #51296f, #601464)";
    --principalFont: 'Fredoka One';
    --bodyFont: 'Handlee'
}
img{
    width: 100%;
}
body{
    background-color: #FFE7FF;
}
header{
    background: linear-gradient(109.57deg, #2A4978 0%, #3F3470 34.01%, #661A2D 69.18%, #601464 100%);
    font-family: var(--principalFont);
    text-align: center;
    width: 100%;
    font-size: 3em;
    color: white;
    padding: 20px 0;
    margin-bottom: 30px;
} 
main{
    display: block;
    width: 95%;
    margin: 0 auto;
}
    section{
        background-color: #00C9C4;
    }
        section h3{
            margin: 0;
            width: 100%;
            font-family: var(--principalFont);
            color: white;
            text-align: center;
            background-color: #835882;
            font-size: 1.5em;
            padding: 10px 0;
            margin-bottom: 0;
        }
        .btn-code{
            width: 80%;
            display: block;
            margin: 0 auto;
            text-align: center;

            background-color: #FFE7FF;
            border-radius: 5px;
            padding: 5px 0;
            margin-top: 10px;
            text-decoration: none;
            font-family: var(--bodyFont);
            color: black;
            
        }
        section p{
            font-family: var(--bodyFont);
            font-size: 18px;
            padding: 5px 5px 20px 5px;
            font-weight: 500;
        }
    @media (min-width: 700px){
        main{
            display: flex;
            flex-wrap: wrap;
        }
            section{
                margin: 0  20px 40px;
                width: 40%;
            }
    }
