.contact{
    min-height: 100vh;
}
.contact__container{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    background-color: #2b2b2ba4;
    border-radius: 20px;
}
@media(max-width:700px){
    .contact__container{
        width: 95%;
        margin: 0 auto;
    }
}
.contact__container__contactame h2{
    margin: 10px 0;
}
.contact__background{
    background-color: rgba(255, 255, 255, 0.508);
    padding: 10px 30px;
    border-radius: 20px;

}
.contact__info p{
    color: #2b2b2b;  
    font-weight: bold;  
    font-size: 24px;
    display: block;
    margin: 10px 0;
    text-decoration: none;
}
.contact__info a{
    color: #2b2b2b;  
    font-weight: bold;  
    font-size: 24px;
    display: block;
    margin: 10px 0;
    text-decoration: none;
}
@media(max-width:700px){
    .contact__info > p{
        font-size: 20px;
    }
    .contact__info > a{
        font-size: 20px;
    }
}
.contact__social_media{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
.social_media__icon{
    width: 50px;
    align-self: center;
    align-content: center;
}
.linkedin{
    width: 100px;
}
@media(max-width:700px){
    .social_media__icon{
        width: 30px;
        align-self: center;
        align-content: center;
    }
    .linkedin{
        width: 70px;
        align-self: center;
    }
}
.contact__container__input{
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
}
.contact__container__input label{
    color: #2b2b2b;
    font-size: 20px;
    font-weight: 700;
}
.contact__container__input input{
    width: 40%;
    background-color: #C4C4C4;
    border-radius: 5px;
    border: 0.5px #232628 solid;
    outline-width: 0;
    padding: 5px;
}
@media(max-width:700px){
    .contact__container__input label{
        padding-bottom: 10px;
    }
    .contact__container__input{
        flex-direction: column;
    }
    .contact__container__input input{
        width: 100%;
    }
}
.contact__form__containet{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.contact__form__submit{
    width: 50%;
    margin: 0 auto;
    background-color: #282828;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 5px;
    font-size: 20px;


}
@media(max-width:700px){
    .contact__form__submit{
        width: 100%;


    }
}